@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --clr-text-prime-blue-dark: hsl(238, 29%, 16%);
    --clr-text-prime-red: hsl(14, 88%, 65%);

    --clr-text-neutral-blue-dark: hsl(237, 12%, 33%);
    --clr-text-neutral-blue: hsl(240, 6%, 50%);

    --clr-bg-violet: hsl(273, 75%, 66%);
    --clr-bg-blue: hsl(240, 73%, 65%);

    --clr-divider: hsl(240, 5%, 91%);

    --fs-xl: 1.9rem;
    --fs-l: 0.825rem;
    --fs-m: 0.75rem;
    --fs-s: 0.55rem;

    --fw-m: 400;
    --fw-l: 700;

    --ff: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--ff);
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
    color: var(--clr-text-neutral-blue-dark);
    background: linear-gradient(var(--clr-bg-violet), var(--clr-bg-blue));
}

main {
    position: relative;
    margin: auto 1rem;
    background-color: white;
    border-radius: 1.5rem;
    min-width: 90%;
}

picture img {
    position: absolute;
    width: 80%;
    left: 10%;
    transform: translateY(-60%);
}

section {
    padding: 6rem 1.5rem 3rem;
}

h1 {
    text-align: center;
    color: var(--clr-text-prime-blue-dark);
    font-size: var(--fs-xl);
    font-weight: var(--fw-l);
}

h2 {
    font-size: var(--fs-l);
    font-weight: var(--fw-m);
}

.answer {
    display: none;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribution { 
    font-size: var(--fs-s); 
    margin-bottom: 0.5em;
}

.attribution a {
    color: var(--clr-text-prime-blue-dark); 
}

